/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-check-input:checked{
    background-color: #880BD6;
    border-color: #880BD6;
}
.form-check-input{
    margin-top: 0;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    margin-right: 5px;
}
.navbar{
    padding: 10px;
}