<app-navbar></app-navbar>
<div class="todo-container">
    <div class="row list-row">
        <div class="col-sm-4 col-xs-12">
            <h2>To Do List</h2>
        </div>
        <div class="col-sm-4">
         <h2>Done</h2>
        </div>
        <!-- <div class="col-sm-4">
    
        </div> -->
    </div>
    <div class="row list-row">
        <div class="col-sm-4 col-xs-12">
           <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="todo-list"
          (cdkDropListDropped)="drop($event)">
          <div class="card" *ngFor="let item of todo" cdkDrag>
            <div class="row">
                <div class="col-1">  <input class="form-check-input" (click)="radioClick(item, 'todo')" type="radio" [name]="item.id" [id]="item.id" ></div>
                 <div class="col-8">{{item.title}}</div>
                 <div class="col-1">   <i class="fa fa-pencil" (click)="openDialog(item.id)" aria-hidden="true"></i></div>
                 <div class="col-1">   <i class="fa fa-trash" (click)="onDelete(item.id)" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-sm-4">
          <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="todo-list"
          (cdkDropListDropped)="drop($event)">
          <div class="card" *ngFor="let item of done" cdkDrag>
               <div class="row">
                   <div class="col-1">  <input class="form-check-input" (click)="radioClick(item, 'done')" type="radio" [name]="item.id" [id]="item.id" checked></div>
                    <div class="col-8">{{item.title}}</div>
                    <div class="col-1">   <i class="fa fa-pencil" (click)="openDialog(item)" aria-hidden="true"></i></div>
                    <div class="col-1">   <i class="fa fa-trash" (click)="onDelete(item.id)" aria-hidden="true"></i></div>
                    </div>
                </div>
          </div>
        </div>
    </div>
</div>
<div class="customizer">
    <a href="javascript:void(0)" mat-raised-button (click)="openDialog('null')" class="btn btn-circle btn-lg service-panel-toggle">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</div>



<!-- <div class="row">
    <div class="col-4">
        <h2>To do</h2>
      
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
      </div>
      
      <div class="col-4">
        <h2>Done</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>
</div> -->

  
  
